<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("8e2325d3-7576-4929-b21f-5afad59cfcd7");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
